<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticia</title>
		</head>
	<body>

		<h1>Noticias</h1>

		<!-- Aula 33 -->
		<!-- route\noticia.js chama esta view depois de consultar o banco-->
		<!-- Passa um array com 1 noticia -->
		<table>

			<tr>
				<td> ID </td> 
				<td> Titulo </td>
			</tr>

			
			<tr>
				<td> <%= noticia[0].id_noticia %> </td> 
				<td> <%= noticia[0].titulo %> </td>
			</tr>
			

		</table>

	</body>
</html>